<div class="show-view">

<p style="color: green"><%= notice %></p>

<%= image_tag @upload.image_url if @upload.image.present? %>
<div class ="show-text">
<%= render @upload %>
</div>

<div>
  <%= link_to "投稿を編集する", edit_upload_path(@upload) %> |
  <%= link_to "投稿フォームに戻る", uploads_path %>

  <%= button_to "投稿を削除する", @upload, method: :delete %>
</div>
</div>
