<!DOCTYPE html>
<html>
  <head>
    <title>Kuusou2</title>
    <meta charset="UTF-8">
    <html lang="ja">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>空想.jpg</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <section class="layout">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
  <div class="header">
    <div class="header-inner">
        <a class="header-logo" href="/">
            <img src="/logo-header.png">
        </a>
        <nav class="header-list">
            <ul>
                <li><%= link_to "投稿", "/uploads/new", class: "link-c"%></li>
                <li><%= link_to "概要", "/about", class: "link-c"%></li>
                <li><%= link_to "お問い合わせ", "/contact", class: "link-c"%></li>
                <li><%= link_to "投稿一覧", "/uploads", class: "link-c"%></li>
            </ul>
        </nav>
     </div>
    </div>
  </div>
    <%= yield %>
  </body>
    <div class="footer">
    <nav class="footer-list">
            <ul>
               <li><%= link_to "投稿", "/posts/new", class: "link-c"%></li>
                <li><%= link_to "概要", "/about", class: "link-c"%></li>
                <li><%= link_to "お問い合わせ", "/contact", class: "link-c"%></li>
                <li><%= link_to "投稿一覧", "/posts/index", class: "link-c"%></li>
            </ul>
        </nav>
        　<a class="footer-logo" href="/top">
            <img src="/logo-header.png">
        </a>
        <p class="copyright"><small>&copy;Kissa</small></p>
  </div>
</section>
</html>
